nav a i {
    margin-right: 15px;
    font-size: 20px;
}
body {
    overflow: hidden;
}

p2 {
    margin: 0;
    padding: 0;
    position: fixed;
    font-family: Arial;
    font-size: small;
    left: 5%;
    top: 85%; 
}

p {
    margin: 0;
    padding: 0;
    position: fixed;
    font-family: Arial;
    font-size: small;
    left: 3%;
    top: 87%;
}