nav a i {
    margin-right: 15px;
    font-size: 20px;
}

body {
    overflow: hidden;
}

.top-text {
    display: flex;
    font-family: Arial;
    align-items: center;
    padding: 10px;
    background-color: #E5E4E2;
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    position: fixed;
    top: 30px;
    left: 18%;
    min-width: 200px;
    max-width: calc(100% - 30%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 999;
}

p2 {
    margin: 0;
    padding: 0;
    position: fixed;
    font-family: Arial;
    font-size: small;
    left: 5%;
    top: 85%; 
}

p {
    margin: 0;
    padding: 0;
    position: fixed;
    font-family: Arial;
    font-size: small;
    left: 3%;
    top: 87%;
}

